<% provide(:title, "How to add a page")  %>

<h1>Add Stuff!</h1>
<p>Adding new static page:</p>
<p>Add a route - This matches an HTTP request to a controller/action combo</p>
<p>GET 'addapage' => 'staticpages#howtoadd'
<br>When the browser receives a GET request for 'addapage' the rails router looks for the 'howtoadd' action in the 'staticpages' controller

</p>