<% if object.errors.any? # .any is just like the opposite of .empty? # %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form submitted contains <%= pluralize(object.errors.count, "error") %>.
        <% # Pluralize not auto-allowed, must 'include ActionView::Helpers::TextHelper' # %>
        </div>
        <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>